.replaceConfirmationModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 320px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replaceConfirmationModal p {
  font-size: large;
  margin-bottom: 50px;
  font-weight: 500;
  margin-top: 0%;
  width: 100%;
}

/* Button container */
.buttonGroup {
  display: flex;
  gap: 12px; /* space between buttons */
  justify-content: flex-end;
  width: 100%;
}

.primaryBtn {
  background: #0f6cbd;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
}

.primaryBtn:hover {
  background: #115ea3;
}

.primaryBtn:disabled {
  background: #c8c6c4;
  cursor: not-allowed;
}

.secondaryBtn {
  background: white;
  color: #323130;
  border: 1px solid #8a8886;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
}
